<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>860897937575-oc6nei3aj23brd4btur41ts8s84uhufl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.860897937575-oc6nei3aj23brd4btur41ts8s84uhufl</string>
	<key>API_KEY</key>
	<string>AIzaSyA8206vL8rCoBZ16U6EbHjjS5_1g5Ocaxs</string>
	<key>GCM_SENDER_ID</key>
	<string>860897937575</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.edushelf.eduShelf.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>edushelf-f249f</string>
	<key>STORAGE_BUCKET</key>
	<string>edushelf-f249f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:860897937575:ios:cc68574170060c4cb93382</string>
</dict>
</plist>